body {
    font-size: 62.5%;
    box-sizing: border-box;
    background-color: @main;
    
}

.join {
    font-size: 1.4rem;
    height: 50px;
    border-radius: 17px;
    width: 100px;
}

.main {
    display: flex;
    flex-direction: column;
    margin: 20px 0 20px 0;

    .cta{
        // margin: 5px;
        border-radius: 10px;
        background-color: white;

        .bold{
            font-weight: 900;
        }
    
        h1{
            font-size: 3rem;
            text-align: center;
            margin-bottom: 5px;
        }
    
        .marge {
            margin-bottom: 20px;
            position: relative;
            left: 5px;
        }
    
        img {
            width: 95%;
            margin: 10px;
            border-radius: 10px;
            .blur();
        }
    
        p {
            font-size: 1.6rem;
            text-align: center;
            margin-top: 10px;
            .padding10();
        }
    } // end of cta

    .space {
        height: 200px;
        width: 100%;
        background: @main;
        border-radius: 0;
        font-size: 1.4rem;
        text-align: center;
        .padding10();
        .center();
    }

    .cont1 {
        margin-top: 20px;
        background-color: white;
        .blur();

        img {
            width: 95%;
            margin: 10px;
            // border-radius: 10px;
            .blur();
        }

        h3 {
            font-size: 1.6rem;
            text-align: right;
            margin-bottom: 10px;
            .padding10();
        }

        p {
            font-size: 1.3rem;
            text-align: center;
            .padding10();
        }
    }

} // end of main