@main: @fadedJade;
@secondary: @muesli;
@btn: @fiord;


@fadedJade: #417062;
@fiord: #44586F;
@muesli: #AA7B62; // comp color of fadedJade
@oxley: #779A90;

@desktop: ~"(min-width: 1000px)";
@tablet: ~"(min-width: 800px)";